body::-webkit-scrollbar {
  display: none;
}

.row {
  margin-left: 20px;
  color: white;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  /* Doesn't displays scrollbar but it is still functional */
  display: none;
}

.poster,
.backdrop__poster {
  width: 100%;
  object-fit: contain;
  transition: transform 450ms;
  margin-right: 10px;
}
.poster {
  max-height: 300px;
}
.backdrop__poster {
  max-height: 150px;
}

.backdrop__poster:hover {
  transform: scale(1.08);
}
.poster:hover {
  transform: scale(1.09);
}
